.textPrimary {
  color: #398b18;
}

.textSecondary {
  color: #f4f124;
}

.wrapper {
  display: flex;
}

.maincontent {
  width: 80%;
}

.topnav {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.contentsection {
  padding: 15px;
}

.leftsidebar {
  width: 20%;
  height: 100vh;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.rightsidebar {
  width: 20%;
  height: 100vh;
  padding: 15px;
  border-left: 1px solid #ccc;
}

.loginBtn {
  background-color: #398b18;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.customInputDiv {
  background-color: #ccc;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customInput {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 90%;
}

.customInputIcon {
  background-color: #ccc;
  width: 10%;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customInputIconRight {
  background-color: #ccc;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
